@model IEnumerable<CAPTeam14.Models.tuanHoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTemplate.cshtml";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                         <li class="breadcrumb-item"><a href="@Url.Action("Index1","Home")">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Tuần học</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Danh sách tuần học</h3>
                            </br>
                            <a class="btn btn-file createBtn1 btn btn-info fas fa-eye" title="Tạo học phần mới" href="@Url.Action("Create", "tuanHoc")"> </a>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Tuần học
                                        </th>



                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>


                                            <td>
                                                @Html.DisplayFor(modelItem => item.tuanHoc1)
                                            </td>






                                            <td>

                                                <a class="btn btn-file detailBtn1 btn btn-danger" title="Xem chi tiết" data-model-id1="@Url.Action("Edit", "tuanHoc", new { id = item.ID })" data-id1="@Url.Action("Details", "tuanHoc", new { id = item.ID })"><i class="fas fa-eye"></i></a>

                                            </td>
                                        </tr>
                                    }

                                </tbody>
                                @*<tfoot>
                                        <tr>
                                            <th>Rendering engine</th>
                                            <th>Browser</th>
                                            <th>Platform(s)</th>
                                            <th>Engine version</th>
                                            <th>CSS grade</th>
                                        </tr>
                                    </tfoot>*@
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->



<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

@if (TempData["taotuan"] != null)
{
    <script type="text/javascript">
        $(function () {
            Swal.fire({
                title: 'Thông báo',
                text: 'Bạn đã thêm tuần học thành công !!!',
                icon: 'success',
                showConfirmButton: true,
                timer: 1500,
            });
        });
    </script>
}

@if (TempData["edittuan"] != null)
{
    <script type="text/javascript">
        $(function () {
            Swal.fire({
                title: 'Thông báo',
                text: 'Bạn đã Cập nhật tuần học thành công !!!',
                icon: 'success',
                showConfirmButton: true,
                timer: 1500,
            });
        });
    </script>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")





    <script type="text/javascript">
        $(document).ready(function () {

            $('.deleteBtn').click(function (e) {
                e.preventDefault();
                debugger;
                var button = $(this);
                var url = $(this).data("model-id");
                $.confirm({
                    title: 'Thông báo!',
                    content: 'Bạn có muốn xóa chuyên ngành này không ???',
                    buttons: {
                        confirm: {
                            text: 'Có',
                            btnClass: 'btn-green',
                            action: function () {
                                $.ajax({
                                    url: url,
                                    type: "POST",
                                    contentType: "application/json;charset=UTF-8",
                                    dataType: "json",
                                    success: function (r) {
                                        if (r.success) {
                                            button.parents("tr").remove();
                                            window.location.replace("/Admin/Specialized");
                                        }
                                        else {
                                            toastr.warning('Không thể xóa data bị ràng buộc !!!');
                                        }
                                    },
                                    error: function () {
                                        $.alert("Lỗi !!!");
                                    }
                                });
                            }
                        },
                        cancel: {
                            text: 'Không',
                            btnClass: 'btn-red',
                            action: function () {
                                $.alert('Bạn đã hủy thao tác !!!');
                            }
                        },
                    }
                });
            });
            $('.detailBtn1').click(function () {
                var button = $(this);
                var s_id = button.data("id1");
                var url = button.data("model-id1");
                $.ajax({
                    url: s_id,
                    typr: "GET",
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    success: function (result) {
                        $.confirm({
                            columnClass: 'col-md-5',
                            title: '<div class="text-center container"><p>Thông tin của tuần học  ' + result.b + '</p></div>',
                            content: '' +
                                '<form action="" class="formName container">' +
                                '<div class="form-group">' +
                                '<div class="row">' +
                                '<div class="col-md-12">' +
                                '<label>Thứ bắt đầu</label>' +
                                '<input type="text" class="form-control" value="' + result.a + '" readonly />' +



                                '</div>' +
                                '</div>' +
                                '</div>' +
                                '</div>' +
                                '<div class="form-group">' +
                                '<div class="row">' +
                                '<div class="col-md-12">' +
                                '<label>thứ bắt đầu (bằng chữ) </label>' +
                                '<input type="text" class="form-control" value="' + result.e + '" readonly />' +
                                '</div>' +
                                '</div>' +
                                '</div>' +
                                '</div>' +

                                '<div class="form-group">' +
                                '<div class="row">' +
                                '<div class="col-md-12">' +
                                '<label>Tuần bắt đầu</label>' +
                                '<input type="text" class="form-control" value="' + result.b + '" readonly />' +
                                '</div>' +
                                '</div>' +
                                '</div>' +
                                '</div>' +
                                '<div class="form-group">' +
                                '<div class="row">' +
                                '<div class="col-md-12">' +
                                '<label>Tuần học</label>' +
                                '<input type="text" class="form-control" value="' + result.c + '" readonly />' +
                                '</div>' +
                                '</div>' +
                                '</div>' +
                                '</div>' +
                                '<div class="form-group">' +
                                '<div class="row">' +
                                '<div class="col-md-12">' +
                                '<label>Tuần kiểm tra</label>' +
                                '<input type="text" class="form-control" value="' + result.d + '" readonly />' +
                                


                                '</form>',
                            buttons: {
                                confirm: {
                                    text: 'Cập nhật',
                                    btnClass: 'btn-green',
                                    action: function () {
                                        window.location.assign(url);
                                    }
                                },
                                cancel: {
                                    text: 'Thoát',
                                    btnClass: 'btn-red',
                                    action: function () { }
                                },
                            },
                        });
                    },
                    error: function (errormessage) {
                        $.alert(errormessage.responseText);
                    }
                });
            });
        });
    </script>

}