@model CAPTeam14.Models.hocKy

@{
    ViewBag.Title = "Cập nhập Học Kì";
    Layout = "~/Views/Shared/_LayoutTemplate.cshtml";
}







@using (Html.BeginForm())
{





    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">

                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="~/Home/Index">Trang chủ</a></li>
                            <li class="breadcrumb-item active">Cập nhập học kỳ</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-5">
                        <div class="card">
                            <form role="form">
                                @Html.AntiForgeryToken()

                                <div class="card-body">
                                    <label>Cập nhập học kỳ</label>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })






                                    <div class="form-group">
                                        <label>Tên học kỳ</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="far fa-envelope"></i></span>
                                            </div>

                                            @Html.EditorFor(model => model.tenHK, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(m => m.tenHK, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Năm bắt đầu</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="far fa-user"></i></span>
                                            </div>
                                            @Html.EditorFor(model => model.namBD, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(m => m.namBD, "", new { @class = "text-danger" })

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Năm kết thúc</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="far fa-user"></i></span>
                                            </div>
                                            @Html.EditorFor(model => model.namKT, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(m => m.namKT, "", new { @class = "text-danger" })
                                        </div>
                                    </div>










                                    <div class="row">
                                        <div class="col-6">
                                            <a class="btn btn-danger btn-block" href="@Url.Action("Index", "hocKy")">Quay lại</a>
                                        </div>
                                        <div class="col-6">
                                            <button type="submit" value="Save" class="btn btn-success btn-block">Cập nhập</button>
                                        </div>
                                    </div>
                                </div>
                            </form>






                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")



}














