@model CAPTeam14.Models.AspNetUser
@{
    ViewBag.Title = "Register";
}
<h2>@ViewBag.Title.</h2>
<h3>Associate your @ViewBag.LoginProvider account.</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Association Form</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
        Please enter a user name for this site below and click the Register button to finish
        logging in.
    </p>
    <div class="form-group">
        @Html.HiddenFor(model => model.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.maGV, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.maGV, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.maGV, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.khoa, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.khoa, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.khoa, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.loaiGV, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.ValidationMessageFor(m => m.loaiGV, "", new { @class = "text-danger" })
            <select class="custom-select" name="type" id="loaiGV">
                <option value="true" selected>Cơ hữu</option>
                <option value="true" selected>Thính giảng</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.gioiTinh, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.ValidationMessageFor(m => m.gioiTinh, "", new { @class = "text-danger" })
            <select class="custom-select" name="Sex" id="GioiTinh">
                <option value="true" selected>Nam</option>
                <option value="true" selected>Nữ</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.sdt, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.sdt, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.sdt, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="form-group">
            @Html.HiddenFor(model => model.role)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
