@model CAPTeam14.Models.AspNetUser
@{
    Layout = null;
    ViewBag.Title = "Register";
}



<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link rel="stylesheet" href="@Url.Content("~/Reg/Sstyle.css")">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="background">
        <div class="container">
            <div class="title">Registration</div>
            <div class="content">
                <div class="form-group">
                    <div class="user-details">
                        @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            <h4>Association Form</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <h2>@ViewBag.Title.</h2>
                            <h3>Associate your @ViewBag.LoginProvider account.</h3>

                            <div class="input-box">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                <div class="input-box">
                                    @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @readonly ="readonly"} })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="button">

                                <input type="submit" value="Register" />

                            </div>
                        }
                    </div>



                   


                    
                </div>
            </div>
        </div>
    </div>


</body>

</html>









@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
