@using CAPTeam14.Models
@model LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Log in";
}

<!DOCTYPE html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Giảng Dạy và Phân Công</title>
    <meta name="description" content="Giảng dạy và phân công" />
    <meta name="keywords" />
    <link href="~/assets/VanLang-Logo.png" type="image/svg+xml" rel="shortcut icon" />
    <meta name="geo.region" content="VN-HCM">
   
    <meta name="geo.placename" content="Ho Chi Minh, Viet Nam" />
    <meta name="copyright" content="Team14" />
    <meta name="author" content="Team14" />



    <meta content="Phần mềm iClick" property="og:site_name" />

    <meta property="og:type" content="website" />
    <meta content="Giảng dạy và phân công" itemprop="headline" property="og:title" />
    <meta content="Website quản lý giảng dạy và phân công của giảng viên khoa Công Nghệ Thông Tin" itemprop="description" property="og:description" />



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/assets/VanLang-Logo.png">




    
    <link rel="icon" href="~/assets/VanLang-Logo.png">


    <link rel="stylesheet" href="@Url.Content("~/Login/LoginStyle.css")">
    <script src="@Url.Content("~/PluginTemplate/sweetalert2/sweetalert2.min.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/PluginTemplate/sweetalert2/sweetalert2.min.css")">

    <link rel="icon" href="~/assets/VanLang-Logo.png">


</head>
<body>
    <div class="container">
        <div class="card">
            <div class="content">
                <img src="@Url.Content("~/Login/logo-vlu.png")">

                <div class="col-md-4">
                    <section id="socialLoginForm">

                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    </section>

                </div>
                </br>

            </div>

        </div>
    </div>
    <script src="@Url.Content("~/plugins/jquery/jquery.min.js")"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="@Url.Content("~/plugins/jquery-ui/jquery-ui.min.js")"></script>




    <script type="text/javascript" src="@Url.Content("~/Login/vanilla-tilt.js")"></script>
    <script>
        VanillaTilt.init(document.querySelectorAll(".card"), { max: 10, speed: 400, glare: true, "max-glare": 1 });
    </script>
</body>





@if (TempData["kichhoat"] != null)
{
    <script type="text/javascript">
        $(function () {
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })

            Toast.fire({
                icon: 'error',
                title: 'Tài khoản của bạn chưa được kích hoạt !'
            })
        });
    </script>
}
