@using CAPTeam14.Models
@model LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Log in";
}

<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="~/assets/VanLang-Logo.png">
    <Title>Đăng nhập</Title>

    <link rel="stylesheet" href="@Url.Content("~/Login/LoginStyle.css")">
    <script src="@Url.Content("~/PluginTemplate/sweetalert2/sweetalert2.min.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/PluginTemplate/sweetalert2/sweetalert2.min.css")">

    <link rel="icon" href="~/assets/VanLang-Logo.png">


</head>
<body>
    <div class="container">
        <div class="card">
            <div class="content">
                <img src="@Url.Content("~/Login/logo-vlu.png")">

                <div class="col-md-4">
                    <section id="socialLoginForm">

                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    </section>

                </div>
                </br>

            </div>

        </div>
    </div>
    <script src="@Url.Content("~/plugins/jquery/jquery.min.js")"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="@Url.Content("~/plugins/jquery-ui/jquery-ui.min.js")"></script>




    <script type="text/javascript" src="@Url.Content("~/Login/vanilla-tilt.js")"></script>
    <script>
        VanillaTilt.init(document.querySelectorAll(".card"), { max: 10, speed: 400, glare: true, "max-glare": 1 });
    </script>
</body>





@if (TempData["kichhoat"] != null)
{
    <script type="text/javascript">
        $(function () {
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })

            Toast.fire({
                icon: 'error',
                title: 'Tài khoản của bạn chưa được kích hoạt !'
            })
        });
    </script>
}
