@using CAPTeam14.Models
@model LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Log in";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <Title>Login</Title>
    <link rel="stylesheet" href="@Url.Content("~/Login/LoginStyle.css")">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="content">
                <img src="@Url.Content("~/Login/logo-vlu.png")">

                <div class="col-md-4">
                    <section id="socialLoginForm">

                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    </section>

                </div>
                </br>
                @Html.ValidationMessage("kichhoat", new { @class = "text-danger" })
            </div>
       
        </div>
    </div>
    <script type="text/javascript" src="@Url.Content("~/Login/vanilla-tilt.js")"></script>
    <script>
            VanillaTilt.init(document.querySelectorAll(".card"), {max: 10,speed: 400,glare: true,"max-glare":1});
    </script>
</body>
</html>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
