@model IEnumerable<CAPTeam14.Models.monHoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTemplate.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
               
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="~/Home/Index1">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Môn học</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    

                    <div class="card">

                        <div class="card-header">
                            <a class="btn btn-file createBtn1 btn btn-info" title="Thêm môn học" href="@Url.Action("Create", "monHoc")">Thêm môn học</a>
                        </div>
                        <!-- /.card-header -->

                        <div class="card-body">
                            
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Mã môn học
                                        </th>
                                        <th>
                                            Tên môn học
                                        </th>
                                        <th>
                                            Tín chỉ
                                        </th>
                                        <th>
                                            Tên gọi khác
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.maMon)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tenMon)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.tinChi)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tengoiKhac)
                                            </td>
                                            <td>
                                                <a class="btn btn-file detailBtn1 btn btn-info" title="Xem chi tiết" data-model-id1="@Url.Action("Edit", "monHoc", new { id = item.ID })" data-id1="@Url.Action("Details", "monHoc", new { id = item.ID })"><i class="fas fa-eye"></i></a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                              
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->



<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

@if (TempData["taoMon"] != null)
{
    <script type="text/javascript">
        $(function () {
            Swal.fire({
                title: 'Thông báo',
                text: 'Bạn đã tạo môn thành công !!!',
                icon: 'success',
                showConfirmButton: true,
                timer: 1500,
            });
        });
    </script>
}

@if (TempData["monHoc"] != null)
{
    <script type="text/javascript">
        $(function () {
            Swal.fire({
                title: 'Thông báo',
                text: 'Bạn đã chỉnh sửa môn học thành công !!!',
                icon: 'success',
                showConfirmButton: true,
                timer: 1500,
            });
        });
    </script>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

   



    <script type="text/javascript">
        $(document).ready(function () {
            $('#example1').on('click', '.detailBtn1', function () {
                var button = $(this);
                var s_id = button.data("id1");
                var url = button.data("model-id1");
                $.ajax({
                    url: s_id,
                    typr: "GET",
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    success: function (result) {
                        $.confirm({
                            columnClass: 'col-md-5',
                            title: '<div class="text-center container"><p>Thông tin của môn  ' + result.a + '</p></div>',
                            content: '' +
                                '<form action="" class="formName container">' +
                                '<div class="form-group">' +
                                '<div class="row">' +
                                '<div class="col-md-12">' +
                                '<label>Tên môn học</label>' +
                                '<input type="text" class="form-control" value="' + result.a + '" readonly />' +
                                '</div>' +
                                '</div>' +
                                '</div>' +
                                '</div>' +
                                '<div class="form-group">' +
                                '<div class="row">' +
                                '<div class="col-md-12">' +
                                '<label>Mã môn học</label>' +
                                '<input type="text" class="form-control" value="' + result.b + '" readonly />' +

                                '</div>' +
                                '</div>' +
                                '</div>' +
                                '<div class="form-group">' +
                                '<div class="row">' +
                                '<div class="col-md-12">' +
                                '<label>Số tín chỉ</label>' +
                                '<input type="text" class="form-control" value="' + result.c + '" readonly />' +
                                '</div>' +
                                '</div>' +
                                '</div>' +
                                '<div class="form-group">' +
                                '<div class="row">' +
                                '<div class="col-md-12">' +
                                '<label>Tên gọi khác</label>' +
                                '<input type="text" class="form-control" value="' + result.d + '" readonly />' +

                                '</form>',
                            buttons: {
                                confirm: {
                                    text: 'Tùy chỉnh',
                                    btnClass: 'btn-green',
                                    action: function () {
                                        window.location.assign(url);
                                    }
                                },
                                cancel: {
                                    text: 'Thoát',
                                    btnClass: 'btn-red',
                                    action: function () { }
                                },
                            },
                        });
                    },
                    error: function (errormessage) {
                        $.alert(errormessage.responseText);
                    }
                });
            });
        });
    </script>

}
