@model CAPTeam14.Models.tietHoc

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutTemplate.cshtml";
}





@using (Html.BeginForm())
{





    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">

                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                             <li class="breadcrumb-item"><a href="@Url.Action("Index1","Home")">Trang chủ</a></li>
                            <li class="breadcrumb-item active">Cập nhật tiết học</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-5">
                        <div class="card">
                            <form role="form">
                                @Html.AntiForgeryToken()

                                <div class="card-body">
                                    <label>Cập nhật tiết học</label>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })






                                    <div class="form-group">
                                        <label>Tổng tiết</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="far fa-envelope"></i></span>
                                            </div>
                                            @Html.EditorFor(model => model.tongTiet, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                    </div>

                                    

                                    <div class="form-group">
                                        <label>Số tiết</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="far fa-envelope"></i></span>
                                            </div>
                                            @Html.EditorFor(model => model.soTiet, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Tiết học</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="far fa-envelope"></i></span>
                                            </div>
                                            @Html.EditorFor(model => model.tietHoc1, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Tiết đầu tiên</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="far fa-envelope"></i></span>
                                            </div>
                                            @Html.EditorFor(model => model.tietS, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Tiết bắt đầu</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="far fa-envelope"></i></span>
                                            </div>
                                            @Html.EditorFor(model => model.tietBD, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                    </div>




                                    <div class="row">
                                        <div class="col-6">
                                            <a class="btn btn-danger btn-block" href="@Url.Action("Index", "tietHoc")">Quay lại</a>
                                        </div>
                                        <div class="col-6">
                                            <button type="submit" value="Save" class="btn btn-success btn-block">Cập nhật</button>
                                        </div>
                                    </div>
                                </div>
                            </form>






                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")



}