@using CAPTeam14.Models;
@using Microsoft.AspNet.Identity;
@{ var db = new CP24Team14Entities();
    var id = User.Identity.GetUserId();
    var acc = db.nguoiDungs.FirstOrDefault(x => x.userID == id);
    var hk = db.hocKies; }
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="@Url.Content("~/dist/img/user2-160x160.jpg")" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">@acc.tenGV<i class="far fa-edit ml-2"></i></a>
            </div>

            <div class="info fixed-bottom">
                <span class="brand-text font-weight-bold">
                    <span class="text-white">Not Authorized</span>
                </span>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        @*<div class="form-inline">
                <div class="input-group" data-widget="sidebar-search">
                    <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-sidebar">
                            <i class="fas fa-search fa-fw"></i>
                        </button>
                    </div>
                </div>
            </div>*@

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                @if (acc.role == 4)
                {
    <li class="nav-item">
        <a href="~/Home/Index" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
                Dashboard Lecturer
            </p>
        </a>
    </li>

                    <li class="nav-item">
                        <a href="~/Home/Search" class="nav-link active">
                            <i class="nav-icon fas fa-search"></i>
                            <p>
                                Search
                            </p>
                        </a>
                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("LogOut","Account")">
                                            <i class="nav-icon fas fa-sign-out-alt"></i>
                                            <p>
                                                Logout
                                            </p>
                                        </a>
                                    </li>
}
                @if (acc.role == 1 || acc.role == 2 || acc.role == 3)
                {
    <li class="nav-item">
        <a href="~/Home/Index" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
                Dashboard
            </p>
        </a>
    </li>
    @*<li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-chart-pie"></i>
                <p>
                    Charts
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="pages/charts/chartjs.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>ChartJS</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="pages/charts/flot.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Flot</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="pages/charts/inline.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Inline</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="pages/charts/uplot.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>uPlot</p>
                    </a>
                </li>
            </ul>
        </li>*@

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-table"></i>
                            <p>
                                Manage
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="~/Home/Role" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Roles</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Home/Course" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Courses</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Home/Catalog" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Catalog</p>
                                </a>
                            </li>
                            @*<li class="nav-item">
                                    <a href="pages/tables/jsgrid.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>jsgrid</p>
                                    </a>
                                </li>*@
                        </ul>
                    </li>
                    @*<li class="nav-item">
                            <a href="pages/kanban.html" class="nav-link">
                                <i class="nav-icon fas fa-columns"></i>
                                <p>
                                    Kanban Board
                                </p>
                            </a>
                        </li>*@ @*<li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon far fa-envelope"></i>
                                <p>
                                    Mailbox
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="pages/mailbox/mailbox.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Inbox</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/mailbox/compose.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Compose</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/mailbox/read-mail.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Read</p>
                                    </a>
                                </li>
                            </ul>
                        </li>*@
                                        <li class="nav-item">
                                            <a href="~/Home/Search" class="nav-link active">
                                                <i class="nav-icon fas fa-search"></i>
                                                <p>
                                                    Search
                                                </p>
                                            </a>
                                        </li>

                                                        <li class="nav-item">
                                                            <a class="nav-link" href="@Url.Action("LogOut","Account")">
                                                                <i class="nav-icon fas fa-sign-out-alt"></i>
                                                                <p>
                                                                    Logout
                                                                </p>
                                                            </a>
                                                        </li>
}

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Import</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
                        <li class="breadcrumb-item active">Import</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="main-container">
                <div class="pd-ltr-20 xs-pd-20-10">
                    <div class="min-height-200px">
                        <div class="pd-20 card-box mb-30">
                            <form>
                                <div class="form-group">
                                    <label>Chọn học kì:</label>
                                    <div class="dropdown">
                                        <select id="selectBox" onclick="changeFunc();" required>
                                            @foreach (var item in hk)
                                            {
                                <option value=@item.ID style="text-align:center">@item.tenHK</option>
}
                                            @*<option value="" style="text-align:center">HK211</option>*@
                                            <option value="13" style="text-align:center">----- Thêm học kì -----</option>

                                        </select>
                                        <script type="text/javascript">
                                            function changeFunc() {
                                            var selectBox = document.getElementById("selectBox");
                                            var selectedValue = selectBox.options[selectBox.selectedIndex].value;
                                            if (selectedValue == 13) {
                                                window.location.href = "@Url.Action()";
                                            }
                                            }
                                        </script>
                                    </div>

                                    @using (Html.BeginForm("ImportDataFromExcel", "Import", FormMethod.Post, new { enctype = "multipart/form-data", id = "UploadForm" }))
                                    {
                        <button id="UploadFile" class="btn btn-primary btn-lg" hidden>Import data from excel</button>
                                        <input type="file" name="excel" accept=".xls, .xlsx" @*style="display:none;"*@ hidden>}
                                    <br />

                                    @using (Html.BeginForm("UploadExcel", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "UploadForm", style = "width:30%" }))
                                    {
                        <label>File Thời khóa biểu</label>
                                        <input type="file" name="excel" onchange="checkfile(this);" accept=".xls, .xlsx" class="form-control-file form-control height-auto col-md-9" required>
                                                        <button id="UploadFile" type="submit" class="btn btn-success col-md-3 " style="float: right; margin-right:-3px; margin-top:-37px" onclick="confirmation3(this)">Import</button>
                                                                        <br />
                                                                                        <a href="@Url.Action("Index", "Home")" style="float: right; margin-top: -20px" ; class="btn btn-danger" onclick="return confirm('Bạn có muốn Hủy?')">Hủy</a>
                                                                                                        <br />}

                                    <script type="text/javascript" language="javascript">
                                        function checkfile(sender) {
                                            var validExts = new Array(".xlsx", ".xls");
                                            var fileExt = sender.value;
                                            fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
                                            if (validExts.indexOf(fileExt) < 0) {
                                                alert("File bạn chọn không thuộc định dạng .xls hoặc .xlsx \nVui lòng chọn file đúng định dạng!");
                                                return false;
                                            }
                                            else return true;
                                        }
                                        function confirmation3(button) {
                                            var ask = confirm("Bạn đã chọn Import Thời khóa biểu \nNếu bạn đã xác định muốn Import vui lòng click OK!")
                                            //if (ask) {
                                            //    alert("Bạn đã chọn chức năng THAY THẾ \n*Lưu ý: Nếu bạn lưu file excel này thì kết quả sẽ THAY THẾ thời khóa biểu");
                                            //}
                                            //else {
                                            //    alert("Bạn đã hủy chon chức năng THAY THẾ !");
                                            //    radio.checked = false;
                                            //}
                                        }
                                        $('#UploadFile').click(function () {
                                            if ($(this).val().length > 1) {
                                                $('#UploadForm').submit();
                                                $('html').fadeTo('slow', 0);
                                            }
                                        });
                                        $('#example').DataTable({
                                            dom: 'Bfrtip',
                                            buttons: {
                                                dom: {
                                                    button: {
                                                        class: 'btn'
                                                    }
                                                },
                                                buttons: [
                                                    {
                                                        extend: 'excel',
                                                        text: 'Export to excel',
                                                        excelStyles: {
                                                            template: 'header_blue'
                                                        }
                                                    }
                                                ]
                                            }
                                        });
                                    </script>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
